html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 480px;
}
body {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
#root {
  max-width: 1024px;
  margin: 0 auto;
}